In [1]:
import json
from pprint import pprint
import pandas as pd
import numpy as np
%matplotlib inline
import matplotlib.pyplot as plt
from matplotlib import cm
import matplotlib.patches as mpatches
import matplotlib
matplotlib.style.use('ggplot')
#ols models
import statsmodels.formula.api as sm
from patsy import dmatrices
import re
import scipy as sp
from tools import print_columns
import csv
import math

In [2]:
#read data
df_full = pd.read_csv("../../Data/NEM_CurrentlyInterconnectedDataset_2016-09-30.csv", low_memory=False)
df_full.columns = df_full.columns.str.replace(' ','_')

In [3]:
#get year from date
df_full.ix[:,'App_Complete_Date'] =  pd.to_datetime(df_full.ix[:,'App_Complete_Date'], infer_datetime_format=True)
df_full.ix[:,'App_Received_Date'] =  pd.to_datetime(df_full.ix[:,'App_Received_Date'], infer_datetime_format=True)
df_full.ix[:,'App_Approved_Date'] =  pd.to_datetime(df_full.ix[:,'App_Approved_Date'], infer_datetime_format=True)
df_full['App_Complete_Date_Year'] = df_full.ix[:,'App_Complete_Date'].dt.year
#clean a little bit
df_full = df_full[(df_full.T != 0).all()]

In [4]:
#keep cleaning
df = df_full[(df_full['App_Complete_Date_Year'] > 2015) & \
             ((df_full['Total_System_Cost'] > 0.0) | \
              (df_full['Itc_Cost_Basis'] > 0.0)) & \
            (df_full['Customer_Sector'] == 'Residential')]
df['Installer_Name_clear'] = df['Installer_Name']

/Users/wilfeli/anaconda/envs/aimacro/lib/python3.5/site-packages/ipykernel/__main__.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  app.launch_new_instance()

In [5]:
#create dummies for companies
def company_dummy(row, templ, name):
    if not pd.isnull(row['Installer_Name_clear']):
        if templ.search(row['Installer_Name_clear']):
            val = name
        else:
            val = row['Installer_Name_clear']
    else:
        val = row['Installer_Name_clear']
    return val

In [6]:
regexes = [[r'SolarCity', 'SolarCity Corporation'], \
           [r'SunPower', 'SunPower Corporation'], \
          [r'Sunrun', 'Sunrun Installation Services, Inc'], \
           [r'Petersen\s+Dean', 'Petersen Dean Roofing & Solar Systems'], \
          [r'Semper Solaris', 'Semper Solaris Construction Inc'], \
          [r'Vivint', 'Vivint Solar Developer, LLC']]

for names in regexes:
    company_regex = names[0]
    replace_name = names[1]
    p = re.compile(company_regex, re.IGNORECASE)
    df['Installer_Name_clear'] = df.apply (lambda row: company_dummy (row, p, replace_name),axis=1)

/Users/wilfeli/anaconda/envs/aimacro/lib/python3.5/site-packages/ipykernel/__main__.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [8]:
df_short = df[(df['Customer_Sector'] == 'Residential')]

In [10]:
df_short = df_short[df_short['App_Complete_Date_Year'] > 2015]

In [11]:
df_short.describe()

,Service_Zip,System_Size_DC,System_Size_AC,Installer_Zip,CSLB_Number,Electric_Vehicle_Count,Total_System_Cost,Itc_Cost_Basis,NEM_Tariff,Module_Quantity_1,...,Inverter_Quantity_6,Inverter_Quantity_7,Inverter_Quantity_8,Inverter_Quantity_9,Inverter_Quantity_10,Inverter_Quantity_11,Inverter_Quantity_12,Inverter_Quantity_13,Inverter_Quantity_14,App_Complete_Date_Year
count,42436.000000,42436.000000,42436.000000,41893.000000,41687.000000,2319.000000,1.934100e+04,23096.000000,42436.000000,42436.000000,...,0,0,0,0,0,0,0,0,0,42436
mean,92287.562777,5.619645,5.501633,90828.667367,896809.986255,1.066839,1.150796e+07,25608.938805,1.001178,16.313366,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2016
std,1006.087781,5.040546,4.938317,4058.288290,551709.413537,0.258288,1.596395e+09,351300.784163,0.034306,13.340142,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
min,90001.000000,0.240816,0.236000,1501.000000,80895.000000,1.000000,1.000000e+00,1.000000,1.000000,1.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2016
25%,91744.000000,3.669388,3.596000,89119.000000,888104.000000,1.000000,1.820000e+04,12697.050000,1.000000,9.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2016
50%,92407.000000,5.073469,4.970000,91761.000000,909236.000000,1.000000,2.500000e+04,20450.800000,1.000000,15.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2016
75%,92845.000000,6.941837,6.789000,92853.000000,973756.000000,1.000000,3.335300e+04,30250.000000,1.000000,21.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2016
max,96080.000000,652.687755,639.634000,99722.000000,46958524.000000,3.000000,2.220137e+11,52915320.000000,2.000000,1386.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2016

In [14]:
df_short['Count'] = 1

In [15]:
df_short['Price_Per_Watt'] = df_short['Total_System_Cost']/df_short['System_Size_AC']/1000

In [16]:
df_short['key1'] = df_short.groupby('Installer_Name_clear')['Count'].transform('sum')

In [17]:
df_short = df_short.sort_values(['key1'], ascending=[False])

In [18]:
grouped = df_short.groupby('Installer_Name_clear', sort=False)

In [19]:
df_agg = grouped.agg({'Total_System_Cost' : np.median,\
             'System_Size_AC' : np.median, \
            'Count' : np.sum, \
            'Price_Per_Watt' : np.median})

In [20]:
df_agg_top = df_agg[0:100]

In [24]:
df_agg_top['Total_System_Cost']

Installer_Name_clear
SolarCity Corporation                                 25779.000
Vivint Solar Developer, LLC                           24456.250
Sunrun Installation Services, Inc                     22250.000
Petersen Dean Roofing & Solar Systems                 27449.245
SunPower Corporation                                   7500.000
Verengo                                               23400.000
Horizon Solar Power                                   26042.000
Suncrest Solar                                            1.000
Lennar Homes/Sunstreet Energy                               NaN
Sungevity Inc                                         21979.000
Solcius                                               24034.000
SolarMax Renewable Energy Provider, Inc               26724.000
SouthWest Sun Solar                                    2300.000
Renova Energy Corp                                    41306.000
American Solar Direct Inc                             24086.550
Semper Solaris Construction Inc                       30471.000
Grid Alternatives                                     15779.980
SunTime Energy                                        22519.000
LA Solar Group                                        25431.000
Zero Energy Associates                                25375.000
Smart Energy USA                                      27713.500
Precis Solar                                          29757.000
Enver Energy                                          29905.000
A1 Solar Power Inc                                    30100.000
Future Energy Corporation                             26650.000
Freedom Solar                                         26041.600
HoSoPo Corporation dba Horizon Solar Power            28811.750
Vision Solar                                          28000.000
Elite Electric Inc                                    25194.500
Complete Solar                                        28332.400
                                                        ...
Energy Renovation Center                              26700.000
HOSOPO CORP DBA HORIZON SOLAR POWER                   29914.500
Urban Energy Solar                                    28500.000
Southern California Home Improvement Center           23850.000
Restart Solar                                         30000.000
Advanced Improvements Inc                             25000.000
Clean Energy Solutions                                23175.000
Energy Service Partners Inc                           28230.000
Energy Plus                                           35000.000
New Day Solar                                         31360.000
Green Engineering Solar Corp. dba GESC                22000.000
V3 Electric                                           23206.000
Solar Solutions 4 U, Inc.                             28338.000
SunTime Energy Builders                                     NaN
Sea Bright Solar Inc.                                 28964.500
Solar Now                                             21265.000
Greenify                                              18000.000
California Solar Electric                             20774.000
Best Solar Power Inc                                  33250.000
NP Contracting Inc                                    25473.600
NRG Home Solar                                        30425.135
SCC Solar Energy Inc.                                 31450.000
R E Pierro Construction                               23800.000
Highcraft Home Improvement                            27975.000
Bay Area Solar Solutions DBA Your Energy Solutions    20018.500
Bright Life Solar                                     26000.000
Titan Solar And Remodeling                            27656.000
Uptown Solar                                          25200.000
Solar Source Inc                                      27411.000
clean solar                                           32237.000
Name: Total_System_Cost, dtype: float64

In [25]:
24456.250 * 0.7

17119.375

In [13]:
df[df['Itc_Cost_Basis'] > 0.0].describe()

,Service_Zip,System_Size_DC,System_Size_AC,Installer_Zip,CSLB_Number,Electric_Vehicle_Count,Total_System_Cost,Itc_Cost_Basis,NEM_Tariff,Module_Quantity_1,...,Inverter_Quantity_6,Inverter_Quantity_7,Inverter_Quantity_8,Inverter_Quantity_9,Inverter_Quantity_10,Inverter_Quantity_11,Inverter_Quantity_12,Inverter_Quantity_13,Inverter_Quantity_14,App_Complete_Date_Year
count,41844.000000,41844.000000,41844.000000,41766.000000,41680.000000,587.000000,1,41844.000000,41844.000000,41844.000000,...,0,0,0,0,0,0,0,0,0,41844.000000
mean,92237.222517,5.524543,5.386823,89688.820356,920142.522001,1.037479,11750,23292.148211,1.000239,15.355129,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2015.551955
std,885.746866,4.344624,4.247097,3984.853511,126387.798878,0.198868,NaN,261600.350276,0.015457,9.449720,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.497299
min,90001.000000,0.903125,0.867000,1501.000000,82892.000000,1.000000,11750,1.000000,1.000000,1.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2015.000000
25%,91748.000000,3.653061,3.567750,89119.000000,888104.000000,1.000000,11750,11385.750000,1.000000,9.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2015.000000
50%,92404.000000,4.950130,4.825000,89119.000000,909236.000000,1.000000,11750,20025.775000,1.000000,14.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2016.000000
75%,92821.000000,6.795918,6.629000,92562.000000,973756.000000,1.000000,11750,29580.000000,1.000000,20.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2016.000000
max,95991.000000,521.114286,510.692000,98119.000000,10004667.000000,3.000000,11750,52915320.000000,2.000000,555.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2016.000000